[user]
  name = Justin Dewyea
  email = jed@commuterdesign.com
[core]
  editor = vi
  excludesfile = ~/.gitignore_global
  pager = "less -F -X"
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = master
[credential]
  helper = osxkeychain
[push]
  default = simple
[alias]
  co = checkout
[pull]
  rebase = true
